# create a docker-compose.yml file
version: "2"
services:
  web:
    build: .
    image: express-image
    container_name: aud-app
    restart: always
    volumes:
      - ./:/app
    ports:
      - 3000:2376
    links:
      - mongodb
  mongodb:
    image: mongo
    container_name: aud-db
    ports:
      - 27017:27017
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: 
