doctype html

html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		title="Create Account"

		meta(name='viewport', content='width=device-width, initial-scale=1')
		
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/w3-colors.css')
		link(rel='stylesheet', href='/stylesheets/w3-classes.css')
		
	body(class='bg-create')
		div(class='w3-top')
			div(class='w3-bar' id='myNavbar')
				a(href='/' class='w3-bar-item w3-button' style='color:white') Home
					img(src='/images/logo-32x32.png' style='display:block; width:29%; float:left')
		
		div(class='w3-display-middle w3-card w3-white' style='width:30%; height:55%')
			div(class='w3-container' style='background-color:#02B3B0')
				h2(style='text-align:center') Getting Started
			p(class='w3-center' style='margin-top:7%; font-size:16px') Tell us about yourself
			// Create Account Form
			form(action='/about' class='w3-white w3-padding-large')
				div(class='w3-section')
					label(style='font-weight:bold; margin:12%') Name
					input(class='w3-input' style='margin:0 auto; width:75%; padding:4px' type='text' required name='Name')
				div(class='w3-section')
					label(style='font-weight:bold; margin:12%') Email
					input(class='w3-input' style='margin:0 auto; width:75%; padding:4px' type='text' required name='Email')
				div(class='w3-section')
					label(style='font-weight:bold; margin:12%') Password
					input(class='w3-input' style='margin:0 auto; width:75%; padding:4px' type='text' required name='Email')
				button(class='w3-button w3-teal' style='float:right; margin-right:10%; border: 1px solid black') Next