doctype html

html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		title="Audivity | Home"

		meta(name='viewport', content='width=device-width, initial-scale=1')
		
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/w3-colors.css')
		link(rel='stylesheet', href='/stylesheets/w3-classes.css')
		
		
	body(class='bg')
		div(class='w3-display-middle')
			h1(class='title-name') AUDIVITY
			hr(class='w3-border-black' style='margin:auto; width:70%')
			p(class='w3-center title-tag') One Story at a Time
		
		
		// Buttons
		div(class='w3-display-topleft w3-container w3-xlarge')
			p
				button(onclick="document.getElementById('login').style.display='block'" class='w3-button w3-black') login
			p
				button(onclick="document.getElementById('about').style.display='block'" class='w3-button w3-black') about
			p
				button(onclick="document.getElementById('contact').style.display='block'" class='w3-button w3-black') contact


		// Login page
		div(id='login' class='w3-modal' style='padding-top:10%')
			div(class='w3-modal-content w3-animate-zoom' style='width:30%')
				div(class='w3-container' style='background-color:#02B3B0')
					span(onclick="document.getElementById('login').style.display='none'" class='w3-button w3-display-topright w3-small') x
					h3 Log In
				div(class='w3-container' style='padding-top:2%; padding-bottom:4%')
					img(src='/images/logo-grey.png' style='display:block; height:30%; width:30%; margin-left:auto; margin-right:auto')
				div(class='w3-container' style='padding-bottom: 10%')
					form(class='w3-container w3-card w3-padding-16 w3-white' target='_blank')
						div(class='w3-section')
							label(style='font-weight:bold') Email
							input(class='w3-input' style='width:95%' type='text' required name='Name')
						div(class='w3-section')
							label(style='font-weight:bold') Password
							input(class='w3-input' style='width:95%' type='text' required name='Email')
						button(class='w3-button w3-teal w3-right' style='float:right') Continue
						p(style='float:left; font-size:80%') 
							a(href='create-account') Create an account
					
		// About page
		div(id='about' class='w3-modal')
			div(class='w3-modal-content w3-animate-zoom' style='width:500px; height:600px')
				div(class='w3-container w3-display-container' style='height:60px; background-color:#02B3B0')
					span(onclick="document.getElementById('about').style.display='none'" class='w3-button w3-display-topright w3-small') x
					h1
				div(class='w3-container')
				
		// Contact page
		div(id='contact' class='w3-modal')
			div(class='w3-modal-content w3-animate-zoom' style='width:500px; height:600px')
				div(class='w3-container w3-display-container' style='height:60px; background-color:#02B3B0')
					span(onclick="document.getElementById('contact').style.display='none'" class='w3-button w3-display-topright w3-small') x
					h1
				div(class='w3-container')
					
					
		//Possible footer
		//div(class="w3-black w3-bottom w3-padding-16" style='text-align:center')
				
				
				