/* W3.CSS 4.10 February 2018 by Jan Egil and Borge Refsnes */
html {
	box-sizing: border-box;
}

*,*: before,*: after { 
		box-sizing: inherit;
}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary {
	display: block;
}

audio,canvas,progress,video {
	display: inline-block;
}

progress {
	vertical-align: baseline;
}

audio: not([controls]) {
	display: none;
	height: 0;
}

[hidden],template {
	display: none;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

a: active,a: hover {
	outline-width: 0;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

figure {
	margin: 1em 40px;
}

img {
	border-style: none;
}

svg: not(: root) {
	overflow: hidden;
}

code,kbd,pre,samp {
	font-family: monospace,monospace;
	font-size: 1em;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

button,input,select,textarea {
	font: inherit;
	margin: 0;
}

optgroup {
	font-weight: bold;
}

button,input {
	overflow: visible;
}

button,select {
	text-transform: none;
}

button,html [type=button],[type=reset],[type=submit] {
	-webkit-appearance: button;
}

button:: -moz-focus-inner, [type=button]:: -moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]:: -moz-focus-inner {
	border-style: none;
	padding: 0;
}

button: -moz-focusring, [type=button]: -moz-focusring, [type=reset]: -moz-focusring, [type=submit]: -moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

legend {
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

textarea {
	overflow: auto;
}

html,body {
	font-family: Verdana,sans-serif;
	height: 100%;
	font-size: 15px;
	line-height: 1.5;
}
	
html {
	overflow-x: hidden
}

h1 {font-size: 36px}
h2 {font-size: 30px}
h3 {font-size: 24px}
h4 {font-size: 20px}
h5 {font-size: 18px}
h6 {font-size: 16px}

h1,h2,h3,h4,h5,h6 {
	font-family: "Lato",Arial,sans-serif;
	font-weight: 400;
	margin: 10px 0;
}

hr {
	border: 0;
	border-top: 3px solid #eee;
	margin: 20px 0;
}

img {
	vertical-align: middle
}

a {
	color: inherit
}

.bg {
	background-image: url(/images/landing_background.jpg);
	min-height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.title-name {
	font-size: 70px;
	color: #02B3B0;
	font-family: "Lato", sans-serif;
}

.title-tag {
	color: white;
	font-size: 25px;
	font-family: "Lato", sans-serif;
}

/* TODO: make button style */

.login-logo {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%); 
}

.login-frame {
	
}